@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*,
html,
body {
  outline: none;
  box-sizing: border-box; 
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-size: 16px;
  font-family: 'Karla', sans-serif;
}

.box{
    max-width: 60em;
    width: 100%;
    width: 60em;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    box-shadow: 0 0 0.2em gray;
    border-radius: 10px;
}

.box .main{
    overflow: hidden;
    background: hsl(204, 43%, 93%);
    display: inline-block;
    max-width: 90em;
    width: 100%;
    height: 15em;
    background-color: #ffffff;
    position: relative; 
}

.main h2{
    color: hsl(179, 62%, 43%);
    position: absolute;
    left: 5%;
}

.main h3{
    position: absolute;
    left: 5%;
    top: 25%;
    color: hsl(71, 73%, 54%)
}

.main h4{
    position: absolute;
    left: 5%;
    top: 45%;
    color: hsl(218, 22%, 67%);
    line-height: 28px;
}

.submain{
    display: flex;
    flex-direction: row;
}

.signup{
    display: inline-block;
    max-width: 90em;
    width: 130%;
    height: 18em;
    background-color: hsl(179, 62%, 43%);
}

.description{
    display: inline-block;
    max-width: 90em;
    width: 130%;
    height: 18em;
    background-color: hsl(179, 64%, 45%);
}

.signup h3{
    color: hsl(204, 43%, 93%);
    position: relative;
    left: 10%;
}

.signup h1{
    color: hsl(204, 43%, 93%);
    position: relative;
    left: 10%;
}

.signup p{
    color: hsl(204, 43%, 93%);
    position: relative;
    left: 25%;
    top: -16%;
    opacity: 70%;
}

.signup h4{
    color: hsl(204, 43%, 93%);
    position: relative;
    left: 10%;
    top: -15%;
}

.signup input{
    background-color: hsl(71, 73%, 54%);
    position: relative;
    left: 10%;
    max-width: 80em;
    width: 16em;
    height: 3em;
    border: none;
    border-radius: 5px;
    color:hsl(204, 43%, 93%);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.description h3{
    color: hsl(204, 43%, 93%);
    position: relative;
    left: 10%;
}

.description p {
    color: hsl(204, 43%, 93%);
    position: relative;
    left: 10%;  
    top: 10%;
    line-height: 25px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 375px){
    .box{
        max-width: 23.4375em

    }

    .submain{
        display: flex;
        flex-direction: column;
    }
}